{{ define "contacts" }}

{{ template "header" }}
<style>
    p{
        font-size: large;
    }
</style>
<main class="">
    <div class="container ">
        <h1 class="text-center">Contacts</h1><br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <h4>Contact us</h4>
                <p><b>Astana IT University</b></p>
                <p>55/11 Mangilik El Avenue<br>
                    EXPO Business Center, block C1<br>
                    Astana, Kazakhstan, 010000</p>
                <p>+7 (7172) 645-710 admission committee</p>
                <p>info@astanait.edu.kz</p>
            </div>
            <div class="col-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.954397708637!2d71.41345198855419!3d51.09084909880785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1705205398856!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>

{{ template "footer" }}

{{ end }}

