{{ define "createArticle" }}

{{ template "header" }}

<main role="main" class="cover-container text-center" style="margin-left: 25%" >
    <h1 class="cover-heading" style="margin-bottom: 30px">New post form</h1>
    <form action="/save_article" method="post">
        <input type="text" name="title" id="title" placeholder="Enter the title" class="form-control"><br>
        <textarea name="anons" id="anons" placeholder="Enter the anons" class="form-control"></textarea><br>
        <textarea name="content" id="full_text" placeholder="Enter the full text" class="form-control"></textarea><br>
        <select name="category_id" id="category_id" class="form-control">
            <option selected disabled>Choose category</option>
            <option value="1">Students</option>
            <option value="2">Stuff</option>
            <option value="3">Applicants</option>
            <option value="4">Researches</option>
        </select><br><br>
        <button class="btn btn-info">Create</button>
    </form>
</main>

{{ template "footer" }}

{{ end }}

